
    <div class="container">
        <h2>Contact Us</h2>
        <form action="/addData">
          <div class="form-group">
            <label for="fullname">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Name" name="fullname">
          </div>  
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
          </div>
          <div class="form-group">
            <label for="pwd">Description:</label>
            <textarea class="form-control" id="description" placeholder="Enter description" name="description"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>  